
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>Login Admin</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="box-form__login">
        <div class="box-login">
            <div class="login-title">
                <h1>Login</h1>
                <h2>Food<strong class="name-project">Mate</strong></h2>
            </div>
            <form method="post" asp-controller="Home" asp-action="Login" class="form-login">
                <hr>
                <div class="form-group">
                    <input type="text" name="username" id="" class="form-control input-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="" class="form-control input-control" placeholder="Password">
                </div>
                <p class="text-danger text-center">@ViewBag.msg</p>
                <button type="submit" class="btn btn-primary w-100 mt-2">Login</button>
            </form>
            <p class="mt-3 mb-1">Do you have an account? <strong><a asp-controller="Users" asp-action="create">Sign up</a></strong></p>
            <a asp-controller="Users" asp-action="create">Forgot Password</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/~/js/bootstrap.bundle.min.js"></script>
</body>
</html>
